<article id="employee">
  <header>
    <h1><%= @employee.first_name %></h1>
    <h2><%= mail_to(@employee.email) %></h2>
  </header>

<footer>
    
    <nav>
      <% if current_employee%>

        <%= link_to 'View', employee_pay_period_path(@pay_period), class: 'button' %>
        
     <% end %>
    </nav>
</footer>