 <header>
   <h3>Admin portal for: <%= @admin.first_name %> <%= @admin.last_name %>
   </h3>
   <br/>
   <h4>
   <%= @admin.first_name %>'s Work Groups:
   </h4>
   <% @wgs.each do |work_group| %>
      <%= link_to work_group.name, admin_work_groups_path(@admin,work_group) %>
      <br/>
   <% end %>
 </header>
