 <header>
   <h1>Employee roster for: <%= @admin.first_name %> 
       <%= @admin.last_name %> 
   </h1>

       <h2> <%= @work_group.name %>'s employees:
    </h2>
    <h3> 
    </h3>

       <% @work_group.employees.each do |employee| %>
       <% if employee.contractor? %>
       <%= employee.first_name %>
       
       <%end%>
       <%end%>
 </header>



