<header>
  <h1>Pay Period for <%= link_to @employee.first_name, @employee %></h1>
   <%= link_to "Edit", @pay_periods %>

    <%= link_to 'Edit', edit_employee_pay_period_path(@employee), class: 'button' %>
</header>

