// Place all the styles related to the pay_periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reg-hours {
    width : 50px;
}

.work-day-date {
    width : 140px;
}

.work-day {
    width : 75px;
}

.pay-period-edit {
    padding-left : 20px;
}